---
// src/pages/_home/headlines.astro
import MainHeadline from "@/components/cards/mainHeadline.astro";
import SubHeadlineCard from "@/components/cards/subHeadlineCard.astro";
import { getMainHeadlines, getSubHeadlines } from "@/lib/sanity";

// Récupérer les headlines depuis Sanity
const mainHeadlines = await getMainHeadlines();
const subHeadlines = await getSubHeadlines();

// Prendre le premier main headline comme article principal
const mainHeadlineArticle = mainHeadlines[0];
const subHeadlinesArticles = subHeadlines;
---

<section
  class="grid grid-cols-1 gap-6 md:grid-cols-10 container pt-4 md:pt-8"
  data-pagefind-ignore="all"
>
  <div class="col-span-1 md:col-span-6">
    {mainHeadlineArticle && <MainHeadline article={mainHeadlineArticle} />}
  </div>
  <div class="col-span-1 md:col-span-4">
    {
      subHeadlinesArticles.map((article, index) => (
        <SubHeadlineCard
          article={article}
          isFirst={index === 0}
          isLast={index === subHeadlinesArticles.length - 1}
        />
      ))
    }
  </div>
</section>
