---
import { testSpacesFix } from "@/lib/sanity";

const testResults = await testSpacesFix();
---

<html>
  <head><title>Test Correction Espaces</title></head>
  <body>
    <h1>Test de la correction des espaces</h1>
    <p>Console pour les résultats</p>
  </body>
</html>
