---
import { getNavigation } from "@/lib/sanity.js";
import NavbarItem from "../bases/navbar-item.astro";

const navigation = await getNavigation();
const navItems = navigation.items;
---

<nav class="navbar-center hidden lg:flex container">
  <ul class="menu menu-sm menu-horizontal px-1 mx-auto">
    <!-- Seulement Home + ton menu Sanity -->
    <NavbarItem item={{ href: "/", text: "Home" }} />

    {navItems.map((item) => <NavbarItem item={item} />)}
  </ul>
</nav>
