---
import { SITE } from "@/lib/config";
import Head from "@/components/bases/head.astro";
import Header from "@/components/shared/header.astro";
import Footer from "@/components/shared/footer.astro";
import type { Entry } from "@/lib/types";
import { getMeta } from "@/lib/utils/getMetaSanity";

type Props = {
  entry: Entry;
  article?: any; // Pour passer les données complètes de l'article
  readingTime?: number;
};

const { entry, article, readingTime } = Astro.props;

const meta = await getMeta(entry);
---

<!doctype html>
<html lang="he" dir="rtl">
  <Head meta={meta} article={article} readingTime={readingTime} />
  <body class="flex flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
