---
// src/layouts/list.astro - VERSION FINALE PROPRE
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./base.astro";
import ViewListHeader from "@/components/shared/view-list-header.astro";

type Props = {
  header: string;
  entry: CollectionEntry<"views">;
  canonical?: string;
  customMeta?: any;
};

const { entry, header, canonical, customMeta } = Astro.props;
---

<BaseLayout entry={entry} canonical={canonical} customMeta={customMeta}>
  <div
    class="container flex flex-col h-full pb-8 pt-4"
    data-pagefind-ignore="all"
  >
    <ViewListHeader title={header} />
    <slot />
  </div>
</BaseLayout>
